@model SalaryWeb.Models.salary_db

@{
    ViewBag.Title = "Salary details";
}


<div class="container">
    <h2>Details</h2>
    <h4>Salary details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Currency
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency)
        </dd>

        <dt>
            Salary added
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salaryAmount)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userinfo_db.name)
        </dd>

    </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Edit", "Edit", new { id = Model.id })" class="btn btn-warning">Edit</a>
                <a href="@Url.Action("Index", "Salary")" class="btn btn-primary">Go back</a>
            </div>
        </div>
</div>