@model IEnumerable<SalaryWeb.Models.salary_db>

@{
    ViewBag.Title = "Overview";
}

<div class="container">
    <h2 style="text-align: center;">Salary table</h2><h4 style="text-align: center;">for @Session["email"]</h4>
    <table class="table">
        <tr>
            <th>
                Salary added
            </th>
            <th>
                Amount
            </th>
            <th>
                Name
            </th>
            <th>
                Manage
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.created_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salaryAmount) @Html.DisplayFor(modelItem => item.currency):-
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userinfo_db.name)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>

            </tr>
        }

    </table>
    <img src="~/Images/salaryy.png" style="border: 1px solid black; height: 130px; width: 50%; display: block; margin: 0 auto;" /><br />
    <button type="button" class="btn btn-success btn-block" style="text-align: center; display: block; margin: 0 auto; width: 500px; margin-bottom: 10px;"
            onclick="location.href='@Url.Action("Create", "Salary")';return false;">
        Add salary
    </button>
    <button type="button" class="btn btn-danger btn-block" style="text-align: center; display: block; margin: 0 auto; width: 200px;"
            onclick="location.href='@Url.Action("LogOut")';return false;">
        Sign out
    </button>
</div>