@model SalaryWeb.Models.userinfo_db

@{
    ViewBag.Title = "Create account";
}

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="login-container">
                <h3>It's time to register!</h3>
                <div id="output"></div>
                <div class="avatar" style="background-image: url('../Images/registerpic.png')"></div>
                <p style="color: red; text-align: center; font-weight: bold;">@Html.ValidationMessage("RegisterError")</p>
                <div class="form-box">
                    <form>
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        @Html.PasswordFor(model => model.password, new { @class = "form-control", @placeholder = "Password" })
                        <button class="btn btn-warning btn-block login" type="submit">Register</button>
                    </form>
                </div>
                <br /> <button type="button" class="btn btn-info" style="text-align: center;" onclick="location.href='@Url.Action("Index", "Users")';return false;">
                    Already a member? Sign in!
                </button>
            </div>
        </div>
    }



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
