@model IEnumerable<SalaryWeb.Models.userinfo_db>

@{
    ViewBag.Title = "Overview";
}
<div class="container">
    <h2 style="text-align: center;">Account details</h2> <h4 style="text-align: center;">for @Session["email"]</h4>
    <br />
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Union
            </th>
            <th>
                Current job
            </th>
            <th>
                Account created
            </th>
            <th>
                Manage
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C_union)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.current_job)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_at)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    <img src="~/Images/salaryy.png" style="border: 1px solid black; height: 130px; width: 50%; display: block; margin: 0 auto;" /><br />
    <button type="button" class="btn btn-danger btn-block" style="text-align: center; display: block; margin: 0 auto; width: 200px;" onclick="location.href='@Url.Action("LogOut")';return false;">Sign out</button>

</div>
