<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Salary System</title>
    <link rel="shortcut icon" type="image/ico" href="~/Images/salarylogo.ico">
    @Styles.Render("~/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" style="background-image: none; margin-bottom: 0px; background-color: #1abc9c;">
        <div class="container">
            @Html.ActionLink("Salary System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="@Url.Action("Index", "Users")">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="@Url.Action("Index", "Salary")">Salary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="@Url.Action("LogOut")">@Html.Raw(ViewBag.LogOut)</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/vendor/jquery/jquery.min.js")
    @Scripts.Render("~/Scripts/graph.js")
    @Scripts.Render("~/vendor/bootstrap/js/bootstrap.bundle.min.js")

    @RenderSection("scripts", required: false)

    @RenderBody()

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; @DateTime.Now.Year - Salary System Corps. Inc.</p>
        </div>
    </footer>

</body>
</html>
